@import "tailwindcss";

/* Global styles */
body {
  font-family: "Poppins", sans-serif;
}

h1,
h2 {
  font-family: "Roboto", sans-serif;
}

/* Custom utilities */
@layer utilities {
  .gradient {
    background: linear-gradient(-45deg, #302b63, #00bf8f, #1cd8d2);
  }
}

